body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ded0ff;
  margin: 0;
  font-family: Goldman, sans-serif;
  color: #230074
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 15vh;
  background-color: #230074;
}

.title {
  color: #ded0ff;
  font-size: 4em;
  font-weight: 800;
}

.content {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  align-items: center;
}

.rules {
  display: flex;
  align-items: center;
  margin-top: 2vh;
  height: 10vh;
  font-size: 1.5em;
}

.choose {
  font-size: 1.2em;
}

.weapon-choices {
  display: flex;
  margin-top: 1vh;
  margin-bottom: 1vh; 
  gap: 24px;
}

.weapon {
  height: 120px;
  width: 120px;
  margin: 16px;
  transition: all .2s;
}

.hover {
  background-color: #cdb9fc;
  transform: scale(1.1);
}

.select {
  background-color: #af92f5;
  transform: scale(1.2);
}

.choices-container, 
.scores-container {
  display: flex;
  gap: 48px;
}

.choice,
.score {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 400px;
  font-size: 1.5em;
}

.round-result,
.final-result {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.round-result {
  font-size: 1.5em;
}

.final-result {
  font-size: 1.75rem;
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #230074;
  color:#ded0ff;
  font-size: .5em;
}

.made-by {
  font-size: 1.5rem;
  margin-top: 8px;
  margin-bottom: 4px;
}
